<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Esto asegura que el contenido se centre verticalmente en la ventana */
            margin: 0; /* Elimina el margen predeterminado */
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <div>
        <h1>Página principal</h1>
        <a href="/buscador"><button>Ir al buscador</button></a>
    </div>
</body>
</html>